#tier-container {
    display: flex;
    flex-direction: column;
    background: gray;
}

.tier-row {
    display: flex;
    flex-direction: row;
    border-top: solid 1px #000;
    min-height: 80px;
}

.label-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    width: 100px;
}

.tier-sort {
    flex: 1;
}