#tier-container {
    display: flex;
    flex-direction: column;
    background: gray;
}

.tier-row {
    display: flex;
    flex-direction: row;
    border-top: solid 1px #000;
    min-height: 80px;
}

.label-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    width: 100px;
}

#image-pool {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: #333;
    margin-top: 20px;
    border: 2px solid #555;
    min-height: 100px;
}

.tier-image {
    width: 90px; 
    height: 90px;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: grab;
}

.tier-sort {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}